:root {
    --single-page-application-router-transition-time: 0.2s;
    --single-page-application-router-transition-height: -20px;
}

single-page-application-router {
    opacity: 1;
    transition: opacity var(--single-page-application-router-transition-time), transform var(--single-page-application-router-transition-time);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin: center center;
}

single-page-application-router.fade {
    opacity: 0;
    z-index: 0;
    transform: translateY(var(--single-page-application-router-transition-height));
}

single-page-application-router > * {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
